#home-container {
  margin-top: 25px;
}


.jumbotron {
  background-image: asset-url('home_page2.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 375px;
}


#home-title {
  color: lightpink;
}

